In [16]:
import pandas as pd
import requests
import json

In [18]:
# Set the base URL
base_url = "https://data.cityofnewyork.us/resource/uip8-fykc.json?"
# Set the query URL
query_url = base_url + "$limit=50000"
response = requests.get(query_url).json()
# Create a DataFrame
original_df = pd.DataFrame(response)
# Display original df
original_df

,arrest_key,arrest_date,pd_cd,pd_desc,ky_cd,ofns_desc,law_code,law_cat_cd,arrest_boro,arrest_precinct,...,x_coord_cd,y_coord_cd,latitude,longitude,geocoded_column,:@computed_region_f5dn_yrer,:@computed_region_yeji_bk3q,:@computed_region_92fq_4b7q,:@computed_region_sbqj_enih,:@computed_region_efsh_h5xi
0,280255493,2024-01-10T00:00:00.000,397,"ROBBERY,OPEN AREA UNCLASSIFIED",105,ROBBERY,PL 1601001,F,M,26,...,996342,236149,40.814845,-73.956312,"{'type': 'Point', 'coordinates': [-73.956312, ...",37,4,23,17,12424
1,279805419,2024-01-02T00:00:00.000,157,RAPE 1,104,RAPE,PL 1303501,F,K,77,...,1003509,185018,40.6744956865259,-73.9305713255961,"{'type': 'Point', 'coordinates': [-73.93057132...",16,2,49,49,17615
2,279895750,2024-01-03T00:00:00.000,101,ASSAULT 3,344,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,Q,106,...,1026836,180689,40.662526,-73.846499,"{'type': 'Point', 'coordinates': [-73.846499, ...",62,3,41,64,15314
3,280809090,2024-01-19T00:00:00.000,511,"CONTROLLED SUBSTANCE, POSSESSI",235,DANGEROUS DRUGS,PL 2200300,M,B,49,...,1027430,251104,40.855793,-73.843908,"{'type': 'Point', 'coordinates': [-73.843908, ...",59,5,12,32,11270
4,280357135,2024-01-11T00:00:00.000,109,"ASSAULT 2,1,UNCLASSIFIED",106,FELONY ASSAULT,PL 1200502,F,K,81,...,1002457,192292,40.694456,-73.934343,"{'type': 'Point', 'coordinates': [-73.934343, ...",69,2,49,52,18181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,283662436,2024-03-12T00:00:00.000,268,CRIMINAL MIS 2 & 3,121,CRIMINAL MISCHIEF & RELATED OF,PL 1450502,F,K,84,...,988174,190975,40.690859,-73.985848,"{'type': 'Point', 'coordinates': [-73.985848, ...",68,2,38,54,16865
49996,284068720,2024-03-20T00:00:00.000,105,STRANGULATION 1ST,106,FELONY ASSAULT,PL 1211300,F,M,25,...,1002076,231440,40.801908,-73.935612,"{'type': 'Point', 'coordinates': [-73.935612, ...",7,4,35,16,13093
49997,283384015,2024-03-07T00:00:00.000,114,OBSTR BREATH/CIRCUL,344,ASSAULT 3 & RELATED OFFENSES,PL 121110A,M,M,28,...,997373,231879,40.803121,-73.952599,"{'type': 'Point', 'coordinates': [-73.952599, ...",18,4,36,18,12423
49998,283729925,2024-03-14T00:00:00.000,101,ASSAULT 3,344,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,B,48,...,1015629,246174,40.842311,-73.886588,"{'type': 'Point', 'coordinates': [-73.886588, ...",35,5,43,31,11269
49999,283700123,2024-03-13T00:00:00.000,503,"CONTROLLED SUBSTANCE,INTENT TO",117,DANGEROUS DRUGS,PL 2201601,F,Q,102,...,1030409,189906,40.687804468530956,-73.83356012817558,"{'type': 'Point', 'coordinates': [-73.83356012...",46,3,46,60,24015